body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: lightyellow;
  transition: all 1s;
  height: 2000px;
}

.bgcolor--blue{
  background-color: lightblue;
}
.bgcolor--gray {
  background-color: lightgray;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.btns {
  position: fixed;
  width: 100%;
  margin: auto;
  /* background-color: rgb(214, 135, 135); */
}
.btns .container {
  position: relative;
  max-width: 900px;
  padding: 20px;
  background-color: transparent;
  transition: 0.3s;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}
.btns .container.bgshow {
  padding: 20px;
  background-color: #9AD9C7;
}

.bg__img {
  margin: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url('bg.png');
  transition: all 1s;
  opacity: 0;
}
.bg__img--show {
  opacity: 1;
}
.btns__menu {
  display: flex;
}

.btns__menu button {
  font-size: 16px;
  color: #194035;
  border: 2px solid #4D8C7A;
  width: 200px;
  height: 40px;
  border-radius: 6px;
  margin: 4px;
  cursor: pointer;
  background-color: #9AD9C7;
  transition: 0.3s;
}
.btns__menu button:hover {
  background-color: white;
  border: 2px dotted #4D8C7A;
}
.btns__toggle-btn {
  position: absolute;
  top: 10px;
  right: 32px;
  font-size: 24px;
  font-weight: 300px;
  color: #194035;
  transition: 0.3s;
  display: none;
}


@media screen and (max-width: 900px) {
  .btns__toggle-btn {
    display: block;
  }
  .btns__menu button {
    display: block;
    margin: 10px auto;
    width: 80%;
  }
  .btns__menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    display: none;
  }
  .btns__menu.open {
    display: block;
  }
  .btns .container {
    background-color: #9AD9C7;
  }
}
